<footer>
  <div class="row">
    <div class="columns">
      <p>
        Copyright (c) 2016 Antonija Pek All Rights Reserved.
      </p>
    </div>
    <div class="shrink columns">
      <p class="freelance">Available for Freelance <span class="ion-record"></span></p>
    </div>
  </div>
</footer>


<script src="//cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
<%= javascript_include_tag :foundation, :mixitup, :typed, :all %>
<script>
$(document).foundation();
</script>
