<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<!-- Use title if it's in the page YAML frontmatter -->
	<title>Antonija Pek | <%= current_page.data.title  %></title>
	<%= stylesheet_link_tag :site %>
	<link rel=stylesheet href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Domine:400,700" rel="stylesheet">
</head>
