---
title: Udruga Rea
thumbnail: /images/7.png
full_image: /images/7_full.png
date: 2016/09/01
category: website
---
This voluntary work for one Croatian organization whose mission is to help animals and promote their rights. I made this using Middleman 4 and Zurb Foundation 6. Also, I implemented GitHub Pages so that non-profit organization would avoid additional costs. I would consider this project still under development because I intend to aesthetically improve it over time. In addition to this website, I manage their AdWords campaigns in Google for the Non-Profits program. Your are welcome to check their <a href="udrugarea.hr" target="_blank">website</a>.
