---
title: About & Contact
---
<header>
	<div class="row">
		<div class="columns">
			<h1><a href="/">Antonija Pek</a></h1>
		</div>
		<div class="columns">
			<ul class="menu align-right">
				<li><a href="/about">About & Contact</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</div>
	</div>
	<div class="row align-middle" id="main">
		<div class="columns">
			<h2>
				About
			</h2>
		</div>
	</div>
</header>
<div class="row">
	<div class="medium-7 columns padding-right">
		<p>
			I have completed both the School of Applied Arts and Design in Zagreb and the Faculty of Textile Technology, where I expanded my skills as a designer and visual artist. Due to the strong relationship between design and marketing, I also became an internet marketing specialist through Algebra Open University. I spend my free time researching the latest technology and design trends, so that I can always stay ahead of the curve. Most recently I began to pursue iOS development with Apple's Swift programming language, which I hope will allow me to bring my designs to life.
		</p>
		<p>
			I'm always open for collaboration or freelance work.  Feel free to contact me using this form below.
		</p>

		<form action="https://formspree.io/hello@antonijapek.com" method="POST">
			<div class="row">
				<div class="medium-6 columns">
					<label>
						Name
						<input type="text" name="name">
					</label>
				</div>
				<div class="medium-6 columns">
					<label>
						Email
						<input type="text" name="email">
					</label>
				</div>
				<div class="small-12 columns">
					<label>
						Message
						<textarea name="message"></textarea>
					</label>
				</div>
				<div class="small-12 columns">
					<input type="text" name="_gotcha" style="display:none" />
					<button type="button" class="expanded hollow button" name="button">Send</button>
				</div>
			</div>
		</form>

	</div>
	<div class="columns show-for-medium">
		<img src="/images/about.png" alt="Antonija Pek" />
	</div>
</div>
